apiVersion: v1
kind: Service
metadata:
  name: {{ include "j25-grd-cln-gh-smvr-bld.fullname" . }}
  labels:
    {{- include "j25-grd-cln-gh-smvr-bld.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "j25-grd-cln-gh-smvr-bld.selectorLabels" . | nindent 4 }}
